  <table class="table">
  <h2>Users</h2>
    <thead>
     <tr>
       <th>image</th>
       <th>name</th>
       <th span="3"></th>
      </tr>
    </thead>
  
  

  <tbody>
    <tr>
      <% @users.each do |user| %>
　　  <td>
        <p><%= image_tag user.get_profile_image(100,100) %></p>
      </td>
      <td>
        <p><%= user.name %></p>
      </td>
      <td>
        <p> <%=link_to "show", user_path(user.id) %></p>
      </td>
     </tr>
  
    <% end %>
  </tbody>
  </table>