  <table class="table">
  <h2>Books</h2>
    <thead>
     <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
       <th span="3"></th>
      </tr>
    </thead>
  
  

  <tbody >
    <tr>
      <% @books.each do |book| %>
　　  <td>
        <p><%= image_tag book.user.get_profile_image(100,100) %></p>
      </td>
      <td>
        <p><%= link_to book.title, book_path(book.id) %></p>
      </td>
      <td>
        <p><%= book.body %></p>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>